@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Mozilla+Headline:wght@200..700&display=swap');


* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    height: 100%;
    width: 100%;
    background-image: url(imagens/fundo2.jpeg);
    font-family: 'Libertinus Sans', sans-serif;
}
.logo {
    position: relative;
    left: 20vh;
    width: 120px;
    height: 120px;
    border: 3px solid #e2ad2f;
    border-radius: 3px;
}

h1, h2, h3, h4 {
    font-family: 'Mozilla Headline', sans-serif;
}

.header {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(imagens/fundo2.jpeg);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #e2ad2f;
}

.seach-container {
    display: flex;
    justify-content: center;
}

input {
    background-color: #4f4f4f67;
    padding-left: 1rem;
    width: 60vh;
    height: 8vh;
    border: 4px solid #e2ad2f;
    border-radius: 15px;
    outline: none;
    color: white;
    font-size: 16px;
}

input::placeholder {
    color: #ffffff;
    font-size: 16px;
}

header img {
    display: flex;
    position: relative;
}

.cart {
    position: absolute;
    top: 1.7rem;
    right: 13rem;
}

.cart:hover {
    transition: 0.3s linear;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: black;
}

.user { 
    top: -2.4rem;
    right: 16rem;
    color: white;
    width: 33px;
    height: 33px;
}

.user:hover {
    transition: 0.3s linear;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: black;
}

.log-cad {
    display: inline;
    position: absolute;
    right: 13rem;
    top: 5.2rem;
    text-align: right;
    color: white;
}

.log-cad h4:hover {
    transition: 0.3s linear;
    font-size: 18px;
    cursor: pointer;
}

img:hover {
    color: black;
}
