@charset "UTF-8";

@font-face {
    font-family: "Be Vietnam Pro";
    src: url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    text-decoration: none;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    list-style-type: none;
}

h1 {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 800;
    font-style: normal;
}

body {
    background-image: linear-gradient(#282828, #070707) ;
    width: 100%;
    margin: auto;
}

.header {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #181818;
    margin: auto auto 32px auto;
    justify-content: space-around;
}

.header > img {
    cursor: pointer;
    margin: auto 0;
}

.navigation {
    display: flex;
}

.navigation > a {
    color: rgba(255, 255, 255, 0.603);
    padding: 5px 15px;
    margin: auto;
    transition: 0.4s linear;
}

.navigation > a:hover {
    color: white;
    border-bottom: 1px solid white;
    transition: 0.4s linear;
}


.login-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 50%;
    background-color: #121212;
    border-radius: 10px;
    padding: 32px;
}


.login-container > img {
    display: inline-block;
    width: 36px;
    height: 36px;
    padding-bottom: 8px;
}

.login-container > h1 {
    display: flex;
    justify-content: center;
    margin: 0 auto 32px auto;
    color: white;
    font-size: 32px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: bolder;
}

ul > li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto 8px auto;
    background-color: transparent;
    border: 1px solid #ffffff8a;
    border-radius: 30px;
    padding: 5px;
}

.btn > img {
    width: 24px;
    height: 24px;
}

.btn > label {
    padding: 7px 31px;
    line-height: 1.2rem;
    color: #E8E8E8;
    font-size: 0.9rem;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: bold;
}

.linha {
    width: 80%;
    border-bottom: 1px solid #ffffff21;
    margin: 30px 0px;

}


.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: white;
    font-size: 0.9rem;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: bold;
    align-self: flex-start;

}

label > input {
    border: 1px solid #ffffffbb;
    color: white;
    background-color: transparent;
    padding: 10px;

}

.account-create {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    color: white;
    transition: 0.4s linear;
}

.account-create > a {
    color: #2DD760;
}

.account-create > a:hover {
    padding-bottom: 2px;
    border-bottom: 1px solid #2DD760;
    transition: 0.4s linear;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #121212;
    padding: 2px;
}

footer > h5 {
    color: white;
    text-align: center;
}
